<launch>
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />

  <!-- Inicia o Gazebo com mundo vazio -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find gazebo_ros)/launch/empty_world.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- TF fix estático base_footprint -->
  <node name="tf_footprint_base" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link base_footprint 40" />

  <!-- Inclui display do robô e gripper -->
  <include file="$(find e05)/launch/display_e05_with_gripper.launch" />

  <!-- Carrega os parâmetros dos controladores -->
  <rosparam file="$(find e05)/controller/arm_controller_e05.yaml" command="load"/>
  <rosparam file="$(find e05)/controller/gripper_controller_robotiq.yaml" command="load" />

  <!-- Spawn do modelo no gazebo usando robot_description -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
    args="-urdf -param robot_description -model e05 -z 0" respawn="false" output="screen" />

  <!-- Publica calibração falsa para que controladores rodem -->
  <node name="fake_joint_calibration" pkg="rostopic" type="rostopic" args="pub /calibrated std_msgs/Bool true"/>

  <!-- Spawn dos controladores -->
  <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller" respawn="false" output="screen"/>
  <node name="gripper_controller_spawner" pkg="controller_manager" type="spawner" args="gripper_controller" respawn="false" output="screen"/>
</launch>
